@import '../abstracts/mixins';

footer {
  @include flex-column-container;
  gap: 10px;
  padding: 1rem;
  color: #19b719;
  a {
    margin-bottom: 1rem;
    font-size: 1rem;
    text-decoration: none !important;

    &:hover {
      font-weight: bold;
    }
  }
}
