$button-transition: 0.2s;
$button-shadow: 0 3px 0;
$button-active-shadow: 0 1px 0 black;
$button-active-transform: translateY(2px);

// google-button
$google-btn-color: #4285f4;
$google-btn-active-color: #1669f2;
$google-btn-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
$google-btn-hover-shadow: 0 0 6px $google-btn-color;
