doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body#error
    .text
      p 404
    .container
      //- caveman left
      .caveman
        .leg
          .foot
            .fingers
        .leg
          .foot
            .fingers
        .shape
          .circle
          .circle
        .head
          .eye
            .nose
          .mouth
        .arm-right
          .club
      //- caveman right
      .caveman
        .leg
          .foot
            .fingers
        .leg
          .foot
            .fingers
        .shape
          .circle
          .circle
        .head
          .eye
            .nose
          .mouth
        .arm-right
          .club
    //- CREDIT 
    a(href="./options.html")
      #link
        i.fab.fa-codepen
        p Back to main menu
