doctype html 
html 
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="../assets/images/favicon.ico", rel="icon", type="image/png")
    title Game Over
  body
    .GameOver
      header Game Over
      main 
        .Score
          p Your score: 99
        .Direction 
          .card_button_gameover  
            a#highScore(href="#") High scores
          .card_button_gameover 
            a#playAgain(href="./options.html") Play again
          .card_button_gameover  
            a#mainMenu(href="../index.html") Main menu
      footer 
        p Made by lcaohoanq with ❤️ 