@import '../components/toggle';
@import '../abstracts/mixins';
@import '../abstracts/variables';

.Home {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  header {
    margin-top: 2rem;
    font-weight: bold;
    color: #19b719;
  }

  .Body {
    .Logo {
      max-width: 80%;
    }

    .Button {
      width: 100%;
      margin: 0 auto;
      @include flex-column-container;
      gap: 20px;

      a.log,
      a.reg,
      a.continue {
        font-size: 2rem;
        width: 150px;
      }

      .Login-Register-Container {
        @include flex-row-container;

        .card_button a {
          @include button-styles(15vw, 8vh);
          @include text-styles(white, 3rem, bold);
          &.log {
            @include button-press-effect(#19b719, #118011, #118011);
          }

          &.reg {
            @include button-press-effect(#ff0000, #b30000, #b30000);
          }
        }
      }

      .Continue-Container {
        @include flex-row-container;

        .card_button a {
          @include button-styles(27vw, 8vh);
          @include text-styles(white, 3rem, bold);
          &.continue {
            @include button-press-effect(#4d96ff, #002299, #0027b6);
          }
        }
      }
    }
  }

  footer {
    @include flex-column-container;
    gap: 10px;
    padding: 1rem;
    color: #19b719;
    a {
      margin-bottom: 1rem;
      font-size: 1rem;
      text-decoration: none !important;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
}

@media only screen and (min-width: 321px) and (max-width: 575px) {
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  header {
    font-size: 5vw;
  }

  .Body {
    .Logo {
      .logo-img {
        width: 80%;
      }
    }

    .Button {
      .Login-Register-Container {
        .card_button a {
          @include button-styles(30vw, 8vh);
          @include text-styles(white, 3rem, bold);
        }
      }

      .Continue-Container {
        .card_button a {
          @include button-styles(27vw, 8vh);
          @include text-styles(white, 3rem, bold);
        }
      }
    }
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1920px) {
  header {
    font-size: 8rem;
  }

  .Body {
    @include flex-row-container;
    padding: 2rem;
  }

  .Button {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .Login-Register-Container {
    gap: 3rem;
  }

  .Button a.log {
    font-size: 4rem;
    width: 250px;
    height: 100px;
  }

  .Button a.reg {
    font-size: 4rem;
    width: 250px;
    height: 100px;
  }

  .Button a.continue {
    font-size: 3rem;
    width: 400px;
    height: 100px;
  }

  .Logo img {
    /* margin-top: 1rem; */
    width: 100%;
    height: auto;
  }

  footer p {
    font-size: 1.5rem;
  }

  footer a {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}
