@import '../abstracts/mixins';

.GameOver {
  header {
    @include flex-row-container;
    margin-bottom: 50px;
  }

  main {
    .Score {
      text-align: center;
      font-size: 3vw;
      margin-bottom: 50px;
    }

    .Direction {
      width: 100%;
      margin-bottom: 5vw;
      @include flex-custom('row', 'center', 'center', 30px);

      .card_button_gameover {
        background-color: $main-color;
        @include flex-row-container;
        @include setBorderRadius(5px);

        font-size: 2vw;
        width: 200px;
        height: 50px;

        a {
          color: white;
        }

        a#playAgain {
        }

        a#highScore {
        }

        a#mainMenu {
        }

        &:hover {
          background-color: $main-color-hover;
        }
      }
    }
  }

  footer {
  }
}
