@import '../base/base';
@import '../abstracts/variables';

.forgot-password {
  font-size: 1.5rem;
  padding: 0 50px 0 50px;
  text-align: left;
}

.forgot-password a {
  color: $main-color;
}

.forgot-password a:hover {
  font-weight: bold;
}
