@import '../base/base';
@import '../components/optionButton';

.select-ctr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px; /* sum of input-1 -> input-7 */
  height: 490px;

  > div {
    padding: 15px 20px;
    position: absolute;
    width: 100%;
    font-size: 2rem;
    cursor: pointer;

    &.input {
      background: $main-color;
      color: white;
      border-radius: 10px;
      box-shadow: 0 2px 15px 3px rgba(0, 0, 0, 0.1);

      &.active {
        color: #2bcd2b;
      }

      &:hover {
        background-color: $main-color-hover;
        transition: $button-transition;
      }
    }

    &.input-preview {
      position: relative;
      transition: 0.3s all ease;

      &.active {
        color: white;

        &:before {
          background: white;
          clip-path: polygon(50% 0, 0 73%, 100% 73%);
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 18px;
        right: 20px;
        bottom: 20px;
        width: 20px;
        background: rgba(255, 255, 255, 0.75);
        clip-path: polygon(50% 73%, 0 0, 100% 0);
        padding: 10px;
        box-sizing: border-box;
        transition: 0.3s all ease;
      }
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .select-ctr {
    width: 70%;
  }

  .select-ctr > div {
    font-size: 2rem;

    &.input-preview {
      font-size: 1.5rem;
    }
  }
}
