<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Register</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <link rel="stylesheet" href="/src/styles/style.css" />
  </head>
  <body>
    <div class="App">
      <section id="App-logo">
        <img src="/public/logo.png" alt="Snake-Logo" />
      </section>
      <section id="App-data">
        <div class="title">
          <h1>Sign Up</h1>
        </div>
        <form id="registerForm">
          <div class="" id="input-container">
            <input
              autofocus="autofocus"
              class="form-control"
              placeholder="Username"
              type="username"
              id="username"
            />
          </div>
          <div class="" id="input-container">
            <input class="form-control" placeholder="Password" type="password" id="password" />
          </div>
          <div class="" id="input-container">
            <input
              class="form-control"
              placeholder="Confirm Password"
              type="password"
              id="confirmPassword"
            />
          </div>
          <div class="submit-btn">
            <button>Submit</button>
          </div>
          <div class="policy" id="input-container">
            <input type="checkbox" id="tickBox" />
            <p>I Agree to the&nbsp;</p>
            <a href="#"> Term & Condition</a>
          </div>
        </form>
        <div class="bottom-btn">
          <p>Already have account?</p>
          <a href="../login/login.html">Sign in here</a>
        </div>
      </section>
    </div>
    <script type="module" src="/src/controller/register.js"></script>
  </body>
</html>
