footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  color: #19b719;
}

footer a:hover {
  font-weight: bold;
}

footer a {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-decoration: none !important;
}
