doctype html 
html 
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="/src/assets/favicon.ico", rel="icon", type="image/png")
    title Menu
  body.Options 
    .select-ctr 
      .selected-input.input-preview What is your favorite mode?
      .input.input-1 NoMaze
      .input.input-2 Box
      .input.input-3 Tunnel
      .input.input-4 Mill
      .input.input-5 Rails
      .input.input-6 Campaign
      .input.input-7 Apartment
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/TextPlugin.min.js")
  script(type="module", src="/src/controller/options.js")