<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Login</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <link rel="stylesheet" href="/src/css/style.css" />
  </head>
  <body>
    <div class="App">
      <section id="App-logo">
        <img src="/public/logo.png" alt="Snake-Logo" />
      </section>
      <section id="App-data">
        <div class="title">
          <h1>Sign In</h1>
        </div>
        <form>
          <div class="" id="input-container">
            <input
              autofocus="autofocus"
              class="form-control"
              placeholder="Username"
              type="username"
              id="username"
            />
          </div>
          <div class="" id="input-container">
            <input class="form-control" placeholder="Password" type="password" id="password" />
          </div>
          <div class="forgot-password">
            <a href="../forgotPassword/forgotPassword.html">Forgot password?</a>
          </div>
          <div class="submit-btn">
            <button>Submit</button>
          </div>
        </form>
        <div class="google-button">
          <button class="google-btn" id="log-google">
            <div class="google-icon-wrapper">
              <img
                class="google-icon"
                src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"
              />
            </div>
            <div class="btn-text"><p>Sign in with Google</p></div>
          </button>
        </div>
        <div class="bottom-btn">
          <p>Not a member?</p>
          <a href="../register/register.html">Sign up here</a>
        </div>
      </section>
    </div>
    <script type="module" src="/src/controller/login.js"></script>
  </body>
</html>
