@media (max-width: 768px) {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .select-ctr {
    top: 50%;
    left: 45.5%;
    width: 60vw;
  }
}
