<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/favicon.ico" rel="icon" type="image/png" />
    <link rel="stylesheet" href="/src/css/style.css" />
    <title>Menu</title>
  </head>
  <body class="Options">
    <div class="select-ctr">
      <div class="selected-input input-preview">What is your favorite mode?</div>
      <div class="input input-1" data-val="NoMaze">NoMaze</div>
      <div class="input input-2" data-val="Box">Box</div>
      <div class="input input-3" data-val="Tunnel">Tunnel</div>
      <div class="input input-4" data-val="Mill">Mill</div>
      <div class="input input-5" data-val="Rails">Rails</div>
      <div class="input input-6" data-val="Campaign">Campaign</div>
      <div class="input input-7" data-val="Apartment">Apartment</div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/TextPlugin.min.js"></script>
    <script type="module" src="/src/controller/options.js"></script>
  </body>
</html>
