doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="./assets/images/favicon.ico", rel="icon")
    title Home
  body
    .Home
      header 
        h1 Snake Game
      section.Body 
          section.Logo 
            img.logo-img(src='./assets/images/logo.png', alt='Snake-Logo') 
          section.Button 
            .Login-Register-Container 
              .card_button 
                a.log(href='./templates/login.html') Login
              .card_button
                a.reg(href='./templates/register.html') Register
            .Continue-Container 
              .card_button 
                a.continue(href='./templates/options.html') Continue without login
      .toggle 
        input.toggle-input(type='checkbox', id='toggle')
        .toggle-handle-wrapper
          .toggle-handle
            .toggle-handle-knob
            .toggle-handle-bar-wrapper 
              .toggle-handle-bar 
        .toggle-base
          .toggle-base-inside
      footer
        p.App-link 
          | © 2024 Snake Game. All rights reserved.