.forgot-password {
  font-size: 1.5rem;
  display: flex;
}

.forgot-password a {
  color: #19b719;
}

.forgot-password a:hover {
  font-weight: bold;
}

@media only screen and (min-width: 1201px) and (max-width: 1920px) {
  .forgot-password {
    margin-left: 3.6vw;
  }
}
